

/*Navbar*/
nav.navbar.navbar-inverse.navbar-fixed-top{
    position: relative;
    width: 100vw;
}

/* LOGO STYLE */
.navbartop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    margin: auto;
}
.logo{
    width: 30px;
    height: auto;
    margin-top: -5px;
}

