@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
    font-family: "Open Sans", sans-serif;
}

/*Navbar*/
nav.navbar.navbar-inverse.navbar-fixed-top {
    position: relative;
    width: 100vw;
}

.navbar-nav {
    font-weight: 600;
    text-align: center;
}

/* LOGO STYLE */
.navbartop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    margin: auto;
}

.logo {
    width: 45px;
    height: auto;
    margin-top: -5px;
}

.control-label {
    text-align: left;
    width: 8rem !important;
    padding: 0;
    color: black !important;
}

.navbar-nav > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
}


/*//////*/
.line {
    height: 1px;
    margin: 10px 50px;
    background: grey;
}

contact_form_area p_100 {
    background-color: #FF4D4F !important;
    position: absolute;
}

.order {
    margin: 10px 0;
}

.order .product {
    border-top: 1px dotted grey;
    margin: 0px 15px;
    padding: 15px 0;
}

.order .product .product-info {
    margin: 0 10px;
}

.container.search-page {
    min-height: 100%;
    position: relative;
}

.container.search-page .result {
    display: flex;
    flex-wrap: wrap;
}

.product-page {
    margin: 20px;
}

.product-page .rating p {
    font-size: 18px;
}

.product-page .title {
    margin: 5px 15px;
}

.addresses {
    max-height: 350px;
    overflow-y: auto;
}

.user-addresses .fields {
    margin-bottom: 20px;
}

.user-addresses .fields .field {
    margin: 10px 0;
}

.user-addresses .fields .field label {
    width: 100%;
    font-weight: 600;
}

.user-addresses .fields .field input {
    width: 500px;
    padding: 5px;
}

.user-addresses .fields .field select {
    padding: 5px 5px;
    min-width: 150px;
}

.user-addresses .addresses .address {
    padding: 10px 5px;
    margin: 5px 5px;
    border-top: 1px solid grey;
}

.user-addresses .addresses .address .field label {
    width: 95px !important;
    font-weight: 600;
}

.user-addresses .addresses .address .field p {
    display: unset;

}

.img-cart-product{
    width: 55px;
    height: 60px;
}

.payment-methods .method{
    margin-top: 20px;
    max-width: 300px ;
    border-radius: 3px;
}


@media only screen and (max-width: 768px) {
    .pull-right {
        float: none !important;
    }

    .navbar-nav > li {
        height: unset;
    }
}

@media only screen and (min-width: 768px) {
    .line {
        display: none !important;
    }
}

